<div id="osd" class="image-viewer"></div>
<script defer src="{{ '/assets/openseadragon/openseadragon.min.js' | relative_url }}"></script>

<script>
  $(document).ready(function () {
    OpenSeadragon({
      id: "osd",
      preload: true,
      showNavigationControl: false,
      panHorizontal: false,
      defaultZoomLevel: 0,
      zoomPerScroll: 1, 
      prefixUrl: "{{ '/assets/openseadragon/images/' | relative_url }}",
      {% if page.img_list.size > 1 %}
      sequenceMode: true,
      showReferenceStrip: true,
      tileSources: [
        {% for img in page.img_list %}
        {
          type: 'image',
          url:  '{{ img.full | relative_url }}',
          referenceStripThumbnailUrl: '{{ img.thumbnail | relative_url }}',
          buildPyramid: false
        }{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      ]
      {% else %}
      tileSources: {
        type: 'image',
        url:  '{{ page.full | relative_url}}',
        buildPyramid: false
      },
      {% endif %}
    });
  });
</script>
